@font-face{font-family:'Atkinson Hyperlegible';src:url(AtkinsonHyperlegible-Regular.ttf) format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Atkinson Hyperlegible';src:url(AtkinsonHyperlegible-Bold.ttf) format('truetype');font-weight:700;font-display:swap}
@font-face{font-family:'Bricolage Grotesque';src:url(BricolageGrotesque.ttf) format('truetype');font-weight:200 800;font-display:swap}
@font-face{font-family:'IBM Plex Mono';src:url(IBMPlexMono-Regular.ttf) format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'IBM Plex Mono';src:url(IBMPlexMono-Medium.ttf) format('truetype');font-weight:500;font-display:swap}
@font-face{font-family:'Lora';src:url(Lora.ttf) format('truetype');font-weight:400 700;font-display:swap}
